// Public website styles

// _reset
@import "reset";

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: black;
}

$transition-duration: 240ms;

// _vendor

// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_breakpoints";
@import "shared/_center";
@import "shared/_type";
@import "shared/heading";
@import "shared/_useful";
@import "shared/_hr";
@import "shared/_typography";


// _icon
@import "icon/_icon-loading";
@import "icon/_shnappy-icons";
@import "icon/_icon";


// _layout
@import "chrome/_layout";
@import "chrome/_page";


// _common
// common components used repetitively across many pages.
@import "chrome/_header";
@import "chrome/_header-mobile";
@import "chrome/_navigation-mobile-tray";
@import "chrome/_footer";


// _components
@import "components/_grid-custom";
@import "components/_text-animation";

@import "components/_module";
@import "components/_button";
// @import "components/_button-primary";
// @import "components/_button-pattern";
@import "components/_dropdown";
@import "components/_form";
@import "components/_form-grid";
@import "components/_form-search";
@import "components/_form-credit";
// @import "components/_form-checkbox";
// @import "components/_breadcrumb";
// @import "components/_switch";
// @import "components/_switch-control";
@import "components/_animations";


// _views

//---
// Home
@import "views-public/page-gallery/_gallery-page";
@import "views-public/page-gallery/_gallery-thumbnail";
@import "views-public/page-gallery/_gallery-filter";
@import "views-public/page-gallery/_gallery-banner";

// Post
@import "views-public/overlay-post/_post";


//---
// work
@import "views-public/page-work/_work";
@import "views-public/page-work/_project-card";


//---
// About
@import "views-public/page-about/_about-page";
@import "views-public/page-about/_about-banner";

//---
// Contact
@import "views-public/page-contact/_contact";




//---
// Project
@import "views-public/overlay-project/_project";
@import "views-public/overlay-project/_banners";
@import "views-public/overlay-project/_description";
@import "views-public/overlay-project/_brand";
@import "views-public/overlay-project/_showcase";
@import "views-public/overlay-project/_gallery";



//---
// Project specific CSS
@import "views-project/project-aibek/_aibek-banner";
