// Public website styles

// _reset
@import "reset";

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: black;
}

$transition-duration: 240ms;

// _vendor

// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_breakpoints";
@import "shared/_center";
@import "shared/_type";
@import "shared/heading";
@import "shared/_useful";
@import "shared/_typography";


// _icon
@import "icon/_icon";


// _layout
@import "chrome/_layout";

// _common
// common components used repetitively across many pages.
@import "chrome/_header";
@import "chrome/_footer";


// _components
@import "components/_button";
@import "components/_animations";


// _views
