//---------------
// Banner Headings
//---------------


// Home Banner
.gallery-banner {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  padding: 100px 0;
  @include screen-med {
    display: block;
    padding: 80px 0;
  }
  @include screen-mob {
    padding: 64px 0;
  }
}

.gallery-banner__headline {
  max-width: 600px;
  margin: 0 0 16px;
}

.gallery-banner__subheading {
  max-width: 600px;
}
