// Gallery Grid
.gallery-grid {
  margin: -8px;
}
.gallery-grid__item {
  float: left;
  width: 25%;
  padding: 8px;
  @include screen-med {
    width: 33%;
  }
  @include screen-mob {
    width: 50%;
  }
}

// Project Grid
.project-grid {
  margin: -8px;
}
.project-grid__item {
  float: left;
  padding: 8px;
  width: 25%;
  @include screen-med {
    width: 33%;
  }
  @include screen-mob {
    width: 100%;
  }
}
