$aibek-000: #3D325A;
$aibek-100: #42396E;
$aibek-200: #484593;
$aibek-300: #4C58B9;
$aibek-400: #4682DA;
$aibek-500: #32DCFB;

// .project--aibek {
//   background: $aibek-000;
// }
.banner--aibek {
  background: $aibek-000;
  //background: linear-gradient(to bottom, $color-blue-700, $color-purple-900); /* Standard syntax */
}


.banner-aibek {
  position: relative;
  z-index: 0;
  height: 800px;
}
.banner-aibek__background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, $aibek-000,$aibek-100,$aibek-200,$aibek-300,$aibek-400,$aibek-500); /* Standard syntax */
  opacity: 0;
  animation-delay: 800ms;
  animation-name: aibek-background-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes aibek-background-in {
  000% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner-aibek__stars {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-aibek__clouds {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-aibek__content {
  max-width: 800px;
  margin: 0 auto;
}


//-- platform artwork
.aibek-art {
  padding: 320px 0 0;
  position: relative;
  z-index: 500;
}


.aibek-art__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  //background: white;
  border-radius: 16px;
  margin: 120px auto;
  // animation-name: aibek-logo-in;
  // animation-duration: 1500ms;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
  background-image: url('../images/projects/project-aibek/title-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}


.aibek-art__islands {
  position: relative;
}

.aibek-art__island-1 {
  position: absolute;
  left: 0;
  top: 100px;
  width: 120px;
  height: 160px;
  //background: white;
  // animation-name: aibek-islands-background;
  // animation-duration: 1500ms;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;

  background-image: url('../images/projects/project-aibek/island-left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.aibek-art__island-2 {
  position: relative;
  z-index: 5;
  width: 240px;
  height: 240px;
  //background: white;
  margin: 0 auto;
  // animation-name: aibek-islands-foreground;
  // animation-duration: 1500ms;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;

  background-image: url('../images/projects/project-aibek/island-middle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.aibek-art__island-3 {
  position: absolute;
  right: 0;
  top: 40px;
  width: 220px;
  height: 160px;
  //background: white;
  // animation-name: aibek-islands-background;
  // animation-duration: 1500ms;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;

  background-image: url('../images/projects/project-aibek/island-right.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// @keyframes aibek-islands-background {
//   000% {
//     opacity: 0;
//     transform: translateY(80px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
//
// @keyframes aibek-islands-foreground {
//   000% {
//     opacity: 0;
//     transform: translateY(120px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
//
// @keyframes aibek-logo-in {
//   000% {
//     opacity: 0;
//     transform: translateY(40px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
