//---------------
// Banner Headings
//---------------

.project {}
.project__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 400px;
  background: $color-grey-800;
}
.project__description {
  height: 200px;
  background: white;
}
.project__section {
  height: 600px;
  background: $color-grey-200;
}


// container animations
.anim--project-container-in {
  transform-origin: 50% 200px;
  opacity: 1;
  animation-name: project-container-in;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes project-container-in {
  000% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.anim--project-container-out {
  transform-origin: 50% 200px;
  opacity: 1;
  animation-name: project-container-out;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes project-container-out {
  000% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
}


.anim--project-in {
  opacity: 1;
  animation-name: project-in;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes project-in {
  000% {
    opacity: 0.4;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim--project-out {
  opacity: 1;
  animation-name: project-out;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes project-out {
  000% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
