.project-description {
  position: relative;
  z-index: 5;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: $shadow-100;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: -120px 0 0 0;
  @include screen-med {
    flex-direction: column;
    margin: 0 -24px 40px;
    border-radius: 0;
    box-shadow: none;
    padding: 40px 24px;
  }
}
.project-description__about {
  width: 720px;
  padding-right: 40px;
  @include screen-med {
    width: 100%;
    padding: 0;
    margin: 0 0 40px;
  }
}
.project-description__roles {
  width: 400px;
  @include screen-med {
    width: 100%;
  }
}
