.project-gallery {
  position: relative;
  margin: 0 -24px;
}
.project-gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-gallery__list {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 24px;
  @include screen-med {
    overflow-x: scroll;
  }
}



.scroll-list {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  padding: 40px 0;
}
.scroll-list__item {
  display: inline-block;
  margin: 0 8px 0 0;
  &:last-child {
    margin: 0 24px 0 0;
  }
}
.scroll-list__item--fade-1 {
  opacity: 0.6;
}
.scroll-list__item--fade-2 {
  opacity: 0.3;
}
.scroll-card {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 16px;
  box-shadow: $shadow-100;
  border-radius: 4px;
  background: white;
  background: $color-blue-600;
  border: 2px solid transparent;
  width: 240px;
  height: 320px;
  &:before {
    content: 'Year XXXX';
    position: absolute;
    top: -32px;
    left: 0;
    color: $color-grey-700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &:hover {
    border: 2px solid white;
  }
  &:active {
    border: 2px solid white;
    transform: translateY(2px);
  }
}
.scroll-card--wide {
  width: 480px;
}

.project-gallery-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.project-gallery-center__button {
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: white;
  box-shadow: $shadow-300;
  @include screen-med {
    margin-right: 24px;
  }
}
