//---------------
// Banner Headings
//---------------

.project-mask {
  transition: 400ms cubic-bezier(0.8, 0.24, 1, 1);
}

//--

.project {
  position: relative;
  background: $color-grey-900;
}
.project--standalone {
  padding: 0;
}

.project__banner {}


.project__navigation {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 12px;
}

.project__navigation--active {
  box-shadow: $shadow-100;
  .project-navigation__title {
    transform: translateY(0);
    opacity: 1;
  }
}

// Project Navigation
.project-navigation {
  position: relative;
}
.project-navigation__back {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  //background: $color-grey-900;
}
.project-navigation__title {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  padding: 8px 0;
  transform: translateY(100%);
  opacity: 0;
  transition: all 160ms ease-in;
}
.project-navigation__controls {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}


// next/prev control
.project-controls {}
.project-controls__next {
  margin: 0 0 0 8px;
}
.project-controls__next,
.project-controls__prev {
  cursor: pointer;
  float: left;
  padding: 12px;
  border-radius: 50%;
  background: rgba(black,0.2);
  transition: all 80ms ease-out;
  &:hover {
    background: white;
    color: black;
    box-shadow: $shadow-200;
  }
  &:active {
    background: white;
    color: black;
    transform: translateY(2px);
    box-shadow: $shadow-100;
  }
}

// Button
.project-back-button {
  position: relative;
  border-radius: 20px;
  color: white;
  display: block;
  background: rgba(black,0.2);
  padding: 12px 24px 12px 40px;
  transition: all 80ms ease-out;
  &:hover {
    background: white;
    color: black;
    box-shadow: $shadow-200;
  }
  &:active {
    background: white;
    color: black;
    transform: translateY(2px);
    box-shadow: $shadow-100;
  }
  @include screen-med {
    padding: 0;
  }
}
.project-back-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  padding: 12px;
  @include screen-med {
    position: static;
  }
}
.project-back-button__text {
  font-weight: bold;
  line-height: 16px;
  @include screen-med {
    display: none;
  }
}


// Banner
.project-banner {
  position: relative;
}

.project-banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  height: 800px;
  @include screen-med {
    height: 560px;
  }
}


.anim--project-in {
  opacity: 0;
  //animation-delay: 80ms;
  animation-name: project-in;
  animation-duration: $transition-duration;
  animation-timing-function: ease-out-cubic;
  animation-fill-mode: forwards;
}
@keyframes project-in {
  000% {
    opacity: 0.4;
    //transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.anim--project-out {
  opacity: 1;
  animation-name: project-out;
  animation-duration: $transition-duration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes project-out {
  000% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(80px);
  }
}


.project__container {
  padding: 24px 24px;
}

.project__container--animate {
  animation-name: slide-in-bottom;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.project__container--grey {
  background: $color-grey-200;
}
.project__container--blue {
  background: $color-blue-500;
}

.project__container--white {
  background: white;
}

.padding__container--padding-bot {
  padding-bottom: 120px!important;
}
.project__container--showcase {
  padding: 0 24px;
}
