.post {
  position: relative;
  min-height: 100%;
  //background: rgba($color-grey-800,0.9);
  padding: 64px 16px;
  @include screen-med {
    padding: 0 12px 40px;
  }
}

// children
.post__heading {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 0 40px;
}

.post__close {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 16px;
  border-radius: 0 0 0 40px;
  @include screen-med {
    display: block;
  }
}

.post__image {
  position: relative;
  margin: 0 0 80px;
  @include screen-med {
    margin: 0 0 40px;
  }
}

.post__description {
  height: 800px;
  border: 2px solid white;
}



//--
.post-heading {
  position: relative;
  padding: 0 48px 0 0;
  @include screen-mob {
    padding: 48px 0 0 0;
  }
}
.post-heading__title {
  padding: 4px 0;
  margin: 0 16px 0 0;
  line-height: 40px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  @include screen-med {
    font-size: 24px;
  }
}
.post-heading__close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



// Button
.post-button-back {
  position: relative;
  border-radius: 50%;
  font-weight: bold;
  line-height: 16px;
  color: white;
  display: block;
  padding: 16px;
  background: rgba(white,0.2);
  transition: all 80ms ease-out;
  &:hover {
    box-shadow: $shadow-300;
    background: white;
    color: black;
  }
  &:active {
    box-shadow: $shadow-100;
    background: white;
    color: black;
  }
}




//---
.post-heading__title {}



//-- image
.post-image-placeholder {
  position: relative;
  z-index: 100;
  background: white;
  width: 800px;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $shadow-400;
  @include screen-med {
    width: 560px;
    height: 420px;
  }
  @include screen-mob {
    width: 400px;
    height: 300px;
  }
}
