.post {
  position: relative;
  min-height: 100%;
  background: $color-red-800;
  padding: 40px 0;
  @include screen-med {
    padding: 72px 0 40px;
  }
}

.post--standalone {
  padding: 80px 0;
  @include screen-med {
    padding: 24px 0;
  }
}

// container animations
.anim--post-in {
  animation-name: post-in;
  animation-duration: $transition-duration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes post-in {
  000% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim--post-out {
  animation-name: post-out;
  animation-duration: $transition-duration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes post-out {
  000% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.post__heading {
  padding: 0 16px;
}

.post__heading-fixed {
  padding: 0 16px;
  width: 100%;
  transition: 200ms background ease-out;
  @include screen-med {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
  }
}
.post__heading-fixed--scroll {
  @include screen-med {
    background: $color-grey-900;
  }
}

.post__image {
  padding: 0 16px;
  margin: 40px 0 80px;
  @include screen-med {
    margin: 24px 0 80px;
  }
}

.post__description {
  display: none;
}

.post__description,
.post__project {
  padding: 0 16px;
  margin: 0 0 80px;
}
.post__similar {
  padding: 0 16px;
}


//--
.post-heading {
  position: relative;
}
.post-heading__title {
  padding: 24px 0;
  line-height: 32px;
  font-size: 28px;
  font-weight: bold;
  color: white;
  @include screen-med {
    font-size: 24px;
  }
}
.post-heading__close {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

// post close button containers
.post-close {}
.post-close__desktop {
  display: block;
  padding: 16px 0;
  @include screen-med {
    display: none;
  }
}
.post-close__mobile {
  display: none;
  padding: 16px 0;
  @include screen-med {
    display: block;
  }
}



// Button
.post-button-back {
  position: relative;
  border-radius: 20px;
  font-weight: bold;
  line-height: 16px;
  color: white;
  display: inline-block;
  padding: 12px 48px 12px 24px;
  box-shadow: inset 0 0 0 2px rgba(white,0.6),0 0 0 0 rgba(white,0.6);
  transition: all 80ms ease-out;
  &:hover {
    box-shadow: inset 0 0 0 0 rgba(white,1),0 0 0 2px rgba(white,1);
    background: $color-red-500;
  }
  &:active {
    box-shadow: inset 0 0 0 2px rgba(white,1),0 0 0 0 rgba(white,1);
    background: $color-red-700;
  }
}
.post-button-back__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  padding: 12px 16px;
}
.post-button-back__text {}

// small button
.post-button-mobile {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: block;
  padding: 16px;
  color: white;
  box-shadow: inset 0 0 0 2px rgba(white,0.6),0 0 0 0 rgba(white,0.6);
  transition: all 80ms ease-out;
  &:hover {
    box-shadow: inset 0 0 0 0 rgba(white,1),0 0 0 2px rgba(white,1);
    background: $color-red-500;
  }
  &:active {
    box-shadow: inset 0 0 0 2px rgba(white,1),0 0 0 0 rgba(white,1);
    background: $color-red-700;
  }
}



//---
.post-heading__title {
  h1 {line-height: 48px;}
}



//-- image
.post-image-placeholder {
  background: white;
  width: 800px;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $shadow-400;
  @include screen-med {
    width: 560px;
    height: 420px;
  }
  @include screen-mob {
    width: 400px;
    height: 300px;
  }
}

// scale in
.anim--scale-in {
  opacity: 0;
  animation-name: anim-scale-in;
  animation-duration: $transition-duration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes anim-scale-in {
  000% {
    opacity: 0.4;
    transform: translateX(40px);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
  }
}


// scale out
.anim--scale-out {
  opacity: 1;
  animation-name: anim-scale-out;
  animation-duration: $transition-duration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
@keyframes anim-scale-out {
  000% {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
    transform: scale(0.4);
  }
}


//-- tile group
.tile-select {}
.tile-select__heading {
  position: relative;
  margin: 0 0 32px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 80px;
    border-radius: 2px;
    background: rgba(white,0.6);
  }
}
.tile-select__tiles {}
