// project card
.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 4px;
  height: 320px;
  background: $color-grey-500;
  transition: 80ms ease-in;
  border: 2px solid rgba(white,0);
  box-shadow: $shadow-100;
  @include screen-mob {
    height: 240px;
  }
  &:hover {
    border: 2px solid white;
    box-shadow: $shadow-300;
    //box-shadow: 0 0 0 2px white, $shadow-300;
    z-index: 2;
  }
  &:active {
    border: 2px solid white;
    box-shadow: $shadow-200;
    //box-shadow: 0 0 0 2px white, $shadow-200;
    transform: translateY(2px);
    z-index: 2;
  }
}


.project-card--fade {
  opacity: 0.4;
}

.project-card__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  color: white;
}
