.gallery {
  min-height: 100%;
  padding: 16px 0;
  background: $color-grey-800;
  @include screen-mob {
    padding: 16px 0;
  }
}

// container animations
.anim--post-in {
  animation-name: project-in;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes post-in {
  000% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim--post-out {
  animation-name: post-out;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes post-out {
  000% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




.gallery__heading {
  margin: 0 0 40px;
}
.gallery__image {
  margin: 0 0 80px;
}


.gallery__project {
  margin: 0 0 80px;
}
.gallery__similar {}




//--
.gallery-heading {
  position: relative;
}
.gallery-heading__close {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
}

// close button
.gallery-close {
  cursor: pointer;
  display: block;
  user-select: none;
  position: relative;
  padding: 0 20px 0 0;
  &:active {
    transform: translateY(2px);
  }
  &:hover,
  &:active {
    .gallery-close__text {
      border-color: white;
    }
    .gallery-close__icon {
      border-color: white;
      background: white;
      color: black;
    }
  }
  @include screen-mob {
    display: none;
  }
}
.gallery-close__text {
  padding: 8px 44px 8px 24px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  border: 2px solid rgba(white,0.4);
  border-right: none;
  border-radius: 24px 0 0 24px;
}
.gallery-close__icon {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid rgba(white,0.8);
}

// mobile close button
.mobile-gallery-close {
  display: none;
  width: 48px;
  height: 48px;
  padding: 16px;
  border-radius: 50%;
  color: white;
  box-shadow: inset 0 0 0 2px rgba(white,0.6);
  &:hover,
  &:active {
    color: black;
    background: white;
  }
  &:active {
    transform: translateY(2px);
  }
  @include screen-mob {
    display: block;
  }
}



.gallery-button {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 14px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid rgba(white,0.8);
  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 8px;
  }
  &:hover,
  &:active {
    border-color: white;
    background: white;
    &:before {
      background: $color-grey-800;
    }
  }
  &:active {
    transform: translateY(2px);
  }
}


//---
.gallery-heading__title {
  h1 {line-height: 48px;}
}
.gallery-heading__subheading {}



//-- gallery-image
.gallery-selected {
  position: relative;
}
.gallery-selected__image {
}

.gallery-image-container {
  background: white;
  width: 800px;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $shadow-400;
  @include screen-med {
    width: 560px;
    height: 420px;
  }
  @include screen-mob {
    width: 400px;
    height: 300px;
  }
}

// scale in
.anim--scale-in {
  opacity: 0;
  animation-name: anim-scale-in;
  animation-duration: 240ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes anim-scale-in {
  000% {
    opacity: 0.4;
    transform: translateX(40px);
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
  }
}


// scale out
.anim--scale-out {
  opacity: 1;
  animation-name: anim-scale-out;
  animation-duration: 240ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
@keyframes anim-scale-out {
  000% {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
    transform: scale(0.4);
  }
}



//--
.gallery-selected__next {
  position: absolute;
  z-index: 5;
  width: 48px;
  height: 48px;
  top: 50%;
  right: 0;
  margin-top: -24px;
}
.gallery-selected__prev {
  position: absolute;
  z-index: 5;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 0;
  margin-top: -24px;
}



//-- tile group
.tile-select {}
.tile-select__heading {
  position: relative;
  margin: 0 0 32px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 80px;
    border-radius: 2px;
    background: rgba(white,0.6);
  }
}
.tile-select__tiles {}
