

// Banner
.layout__banner {
  overflow: hidden;
  padding: 0 24px;
}

.layout__banner--alpha {
  background: $color-pink-500;
  background: linear-gradient(to bottom, $color-pink-500, $color-purple-500); /* Standard syntax */
  //background-image: url('../images/photos/home-banner-image.jpg');
  //background-size: cover;
}

.layout__banner--beta {
  @include screen-med {
    height: auto;
  }
}

.layout__banner--gamma {}

// colors
.layout__banner--pink {
  background: $color-pink-500;
}

.layout__banner--grey {
  background: $color-grey-800;
}
