// layout
html {
  height: 100%;
  width: 100%;
  min-width: 320px;
  background: $color-grey-900;
}

// Layout
.layout {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
  background: $color-grey-900;
  //padding: 64px 0 0;
  @include screen-med() {
    padding: 0;
  }
  @include screen-mob() {
    background: $color-grey-800;
  }
}

.layout--scroll-lock {
  //position: fixed;
  overflow: hidden;
  padding-right: 15px; // scrollbar placement
  @include screen-med {
    padding: 0;
  }
}


// Header
.layout__header {
  position: relative;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 24px;
  background: $color-grey-900;
}


//
.layout__navigation-mobile {
  background: $color-grey-900;
  padding: 0 16px;
  display: none;
  @include screen-med {
    display: block;
  }
}

.layout__content{
  background: $color-grey-800;
}
.layout__filter {}

// Overlays
.layout__overlay {
  z-index: 50;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include screen-med {
    background: black;
  }
}
.layout__overlay--scroll-lock {
  overflow: hidden;
}
