// Mobile header
.layout__mobile-menu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  //background: rgba($color-grey-900,0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  //transition: background 240ms ease-out;
}

.layout__mobile-menu--show {
  display: block;
  // background: rgba(white,1);
  // animation: 'mobile-navigation-in';
  // animation-duration: 240ms;
  // animation-fill-mode: forwards;
}

@keyframes mobile-navigation-in {
  000% {
    //clip-path: inset(100% 0 100% 0);
    background: rgba($color-grey-900,0);
  }
  100% {
    //clip-path: inset(0 0 0 0);
    background: rgba(white,1);
  }
}
