// Section
.layout__section {
  padding: 0 24px 80px 24px;
  @include screen-med {
    padding: 64px 24px;
  }
  @include screen-mob {
    padding: 32px 16px;
  }
}

.layout__section--white {
  background: white;
}
.layout__section--grey {
  //background: $color-grey-200;
  background: $color-grey-800;
}
