// only allow these if modernizr has added the class "cssanimations" to the HTML tag
$animation-speed: 240ms;

.cssanimations {

  // post animation hide
  .anim--hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }

  // staggered animation
  .anim--delay {
    &:nth-child(1) {animation-delay: 000ms;}
    &:nth-child(2) {animation-delay: 040ms;}
    &:nth-child(3) {animation-delay: 080ms;}
    &:nth-child(4) {animation-delay: 120ms;}
  }

  // delays
  .anim--delay-40 {animation-delay: 040ms;}
  .anim--delay-80 {animation-delay: 080ms;}
  .anim--delay-120 {animation-delay: 120ms;}
  .anim--delay-160 {animation-delay: 160ms;}
  .anim--delay-200 {animation-delay: 200ms;}
  .anim--delay-240 {animation-delay: 240ms;}
  .anim--delay-280 {animation-delay: 280ms;}
  .anim--delay-320 {animation-delay: 320ms;}
  .anim--delay-360 {animation-delay: 460ms;}
  .anim--delay-400 {animation-delay: 400ms;}
  .anim--delay-440 {animation-delay: 440ms;}
  .anim--delay-480 {animation-delay: 480ms;}

  // slide in right
  .anim--in-right {
    opacity: 0;
    animation-name: slide-in-right;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in-right {
    000% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  // slide in left
  .anim--in-left {
    opacity: 0;
    animation-name: slide-in-left;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in-left {
    000% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


  // slide in top
  .anim--in-top {
    opacity: 0;
    animation-name: slide-in-top;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in-top {
    000% {
      opacity: 0.4;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // slide in bottom
  .anim--in-bot {
    opacity: 0;
    animation-name: slide-in-bottom;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in-bottom {
    000% {
      opacity: 0.4;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // slide in top
  .anim--out-top {
    opacity: 1;
    animation-name: slide-out-top;
    animation-duration: $animation-speed;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes slide-out-top {
    000% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  // slide out bot
  .anim--out-bot {
    opacity: 1;
    animation-name: slide-out-bot;
    animation-duration: $animation-speed;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes slide-out-bot {
    000% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(40px);
    }
  }

  // slide out left
  .anim--out-left {
    opacity: 1;
    animation-name: slide-out-left;
    animation-duration: $animation-speed;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes slide-out-left {
    000% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-40px);
    }
  }

  // slide out right
  .anim--out-right {
    opacity: 1;
    animation-name: slide-out-right;
    animation-duration: $animation-speed;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes slide-out-right {
    000% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(40px);
    }
  }


  // scale in
  .anim--scale-up-in {
    opacity: 0;
    animation-name: scale-up-in;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes scale-up-in {
    000% {
      opacity: 0.4;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .anim--scale-up-out {
    opacity: 0;
    animation-name: scale-up-out;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes scale-up-out {
    000% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.1);
    }
  }

  // scale in down
  .anim--scale-down-in {
    opacity: 0;
    animation-name: scale-down-in;
    animation-duration: 320ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes scale-down-in {
    000% {
      opacity: 0.4;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .anim--scale-down-out {
    opacity: 0;
    animation-name: scale-down-out;
    animation-duration: $animation-speed;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes scale-down-out {
    000% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}




// z-index animations
$zbase: 40px;
$zduration: 400ms;
$z1: 1;
$z2: 1.6;
$z3: 2.2;
$z4: 2.8;
$z5: 3.4;

// -- IN
// 1
.anim--in-z1 {
  animation-name: in-z1;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-z1 {
  000% {
    transform: translateX($zbase*$z1);
  }
  100% {
    transform: translateX(0);
  }
}

// 2
.anim--in-z2 {
  animation-name: in-z2;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-z2 {
  000% {
    transform: translateX($zbase*$z2);
  }
  100% {
    transform: translateX(0);
  }
}

// 3
.anim--in-z3 {
  animation-name: in-z3;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-z3 {
  000% {
    transform: translateX($zbase*$z3);
  }
  100% {
    transform: translateX(0);
  }
}

// 4
.anim--in-z4 {
  animation-name: in-z4;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-z4 {
  000% {
    transform: translateX($zbase*$z4);
  }
  100% {
    transform: translateX(0);
  }
}

// 5
.anim--in-z5 {
  animation-name: in-z5;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-z5 {
  000% {
    transform: translateX($zbase*$z5);
  }
  100% {
    transform: translateX(0);
  }
}

// -- OUT
// 1
.anim--out-z1 {
  animation-name: out-z1;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-z1 {
  000% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-$zbase*$z1);
  }
}

// 2
.anim--out-z2 {
  animation-name: out-z2;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-z2 {
  000% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-$zbase*$z2);
  }
}

// 3
.anim--out-z3 {
  animation-name: out-z3;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-z3 {
  000% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-$zbase*$z3);
  }
}

// 4
.anim--out-z4 {
  animation-name: out-z4;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-z4 {
  000% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-$zbase*$z4);
  }
}

// 5
.anim--out-z5 {
  animation-name: out-z5;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-z5 {
  000% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-$zbase*$z5);
  }
}

// ----
// Vertical transition
// ----
// -- IN
// 1
.anim--in-y1 {
  animation-name: in-y1;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-y1 {
  000% {
    transform: translateY($zbase*$z1);
  }
  100% {
    transform: translateY(0);
  }
}

// 2
.anim--in-y2 {
  animation-name: in-y2;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-y2 {
  000% {
    transform: translateY($zbase*$z2);
  }
  100% {
    transform: translateY(0);
  }
}

// 3
.anim--in-y3 {
  animation-name: in-y3;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-y3 {
  000% {
    transform: translateY($zbase*$z3);
  }
  100% {
    transform: translateY(0);
  }
}

// 4
.anim--in-y4 {
  animation-name: in-y4;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-y4 {
  000% {
    transform: translateY($zbase*$z4);
  }
  100% {
    transform: translateY(0);
  }
}

// 5
.anim--in-y5 {
  animation-name: in-y5;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes in-y5 {
  000% {
    transform: translateY($zbase*$z5);
  }
  100% {
    transform: translateY(0);
  }
}

// -- OUT
// 1
.anim--out-y1 {
  animation-name: out-y1;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-y1 {
  000% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-$zbase*$z1);
  }
}

// 2
.anim--out-y2 {
  animation-name: out-y2;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-y2 {
  000% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-$zbase*$z2);
  }
}

// 3
.anim--out-y3 {
  animation-name: out-y3;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-y3 {
  000% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-$zbase*$z3);
  }
}

// 4
.anim--out-y4 {
  animation-name: out-y4;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-y4 {
  000% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-$zbase*$z4);
  }
}

// 5
.anim--out-y5 {
  animation-name: out-z5;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes out-y5 {
  000% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-$zbase*$z5);
  }
}







// fade
.anim--fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: $zduration;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  000% {
    opacity: 0;
  }
  040% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


// fade
.anim--fade-out {
  opacity: 1;
  animation-name: fade-out;
  animation-duration: $zduration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  000% {
    opacity: 1;
  }
  040% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
