// Gallery Grid
.gallery-grid {
  margin: -2px;
}
.gallery-grid__item {
  float: left;
  padding: 2px;
  width: 25%;
  @include screen-med {
    width: 33%;
  }
  @include screen-mob {
    width: 50%;
  }
}


// Project Grid
.project-grid {
  margin: -2px;
  transform-style: preserve-3d;
  perspective: 800px;
}
.project-grid__item {
  float: left;
  padding: 2px;
  width: 25%;
  @include screen-med {
    width: 50%;
  }
  @include screen-mob {
    width: 100%;
  }
}
