// Gallery Grid
.gallery-grid {
  margin: -8px;
}
.gallery-grid__item {
  float: left;
  padding: 8px;

  width: 25%;
  &:nth-child(4n+1) {
    //background: yellow;
    animation-duration: 520ms;
    animation-delay: 0ms;
  }
  &:nth-child(4n+2) {
    //background: white;
    animation-duration: 440ms;
    animation-delay: 80ms;
  }
  &:nth-child(4n+3) {
    //background: blue;
    animation-duration: 360ms;
    animation-delay: 160ms;
  }
  &:nth-child(4n+4) {
    //background: red;
    animation-duration: 280ms;
    animation-delay: 240ms;
  }

  @include screen-med {
    width: 33%;
    &:nth-child(3n+1) {
      animation-duration: 520ms;
      animation-delay: 0ms;
    }
    &:nth-child(3n+2) {
      animation-duration: 440ms;
      animation-delay: 80ms;
    }
    &:nth-child(3n+3) {
      animation-duration: 360ms;
      animation-delay: 160ms;
    }
  }

  @include screen-mob {
    width: 50%;
    &:nth-child(2n+1) {
      animation-duration: 520ms;
      animation-delay: 0ms;
    }
    &:nth-child(2n+2) {
      animation-duration: 440ms;
      animation-delay: 80ms;
    }
  }
}


.gallery-grid--animate-in {
  transform-style: preserve-3d;
  perspective: 800px;
  .gallery-grid__item {
    opacity: 0;
    animation-name: card-in;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-origin: 50%;
  }
}

@keyframes card-in {
  000% {
    opacity: 0;
    transform: translateY(80px);// rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0);// rotateX(0deg);
  }
}




// Project Grid
.project-grid {
  margin: -8px;
  transform-style: preserve-3d;
  perspective: 800px;
}

.project-grid__item {
  opacity: 0;
  animation-name: card-in;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  float: left;
  padding: 8px;
  width: 25%;
  &:nth-child(4n+1) {
    //background: yellow;
    animation-duration: 520ms;
    animation-delay: 0ms;
  }
  &:nth-child(4n+2) {
    //background: white;
    animation-duration: 440ms;
    animation-delay: 80ms;
  }
  &:nth-child(4n+3) {
    //background: blue;
    animation-duration: 360ms;
    animation-delay: 160ms;
  }
  &:nth-child(4n+4) {
    //background: red;
    animation-duration: 280ms;
    animation-delay: 240ms;
  }

  @include screen-med {
    width: 33%;
    &:nth-child(3n+1) {
      animation-duration: 520ms;
      animation-delay: 0ms;
    }
    &:nth-child(3n+2) {
      animation-duration: 440ms;
      animation-delay: 80ms;
    }
    &:nth-child(3n+3) {
      animation-duration: 360ms;
      animation-delay: 160ms;
    }
  }

  @include screen-mob {
    width: 50%;
    &:nth-child(2n+1) {
      animation-duration: 520ms;
      animation-delay: 0ms;
    }
    &:nth-child(2n+2) {
      animation-duration: 440ms;
      animation-delay: 80ms;
    }
  }
}
