
.text-animation {
  cursor: pointer;
}


.text-animation:hover {
  .ta__text {
    animation-name: text-animation;
    animation-duration: 240ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.ta__text {
  display: inline-block;
  min-width: .3em;
  transform: translateY(0.5em) scaleY(0.5);
  opacity: 0;
}


//$class-slug: .text-animation span !default;
@for $i from 1 through 40 {
  .ta__text:nth-child(#{$i}) {
    animation-delay: $i * 20ms;
  }
}


// @keyframes text-animation {
//  000% {
//    transform: translate(0) scaleY(1);
//  }
//  040% {
//    transform: translateY(-0.5em) scaleY(0.5);
//    opacity: 0;
//  }
//  060%{
//    transform: translateY(0.5em) scaleY(0.5);
//    opacity: 0;
//  }
//  100%{
//    transform: translateY(0) scaleY(1);
//    opacity: 1;
//  }
// }


@keyframes text-animation {
 000%{
   transform: translateY(0.5em) scaleY(0.5);
   opacity: 0;
 }
 100%{
   transform: translateY(0) scaleY(1);
   opacity: 1;
 }
}
