$aibek-000: #3D325A;
$aibek-100: #42396E;
$aibek-200: #484593;
$aibek-300: #4C58B9;
$aibek-400: #4682DA;
$aibek-500: #32DCFB;

.project--aibek {
  background: $aibek-000;
}
.banner--aibek {
  background: $aibek-000;
  //background: linear-gradient(to bottom, $color-blue-700, $color-purple-900); /* Standard syntax */
}


.banner-aibek {
  position: relative;
  height: 800px;
}
.banner-aibek__background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, $aibek-000,$aibek-100,$aibek-200,$aibek-300,$aibek-400,$aibek-500); /* Standard syntax */
  opacity: 0;
  animation-delay: 400ms;
  animation-name: aibek-background-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes aibek-background-in {
  000% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.banner-aibek__stars {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-aibek__clouds {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-aibek__content {
  max-width: 960px;
  margin: 0 auto;
}


//-- platform artwork
.aibek-art {
  padding: 64px 0;
  position: relative;
  z-index: 500;
}


.aibek-art__logo {
  width: 272px;
  height: 120px;
  //background: white;
  border-radius: 16px;
  margin: 120px auto 0;
  animation-name: aibek-logo-in;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-image: url('../images/projects/aibek/title-white.svg');
  background-size: 272px 120px;
  background-position: center;
  background-repeat: no-repeat;
}


.aibek-art__islands {
  margin: 100px 0 0;
  position: relative;
}

.aibek-art__island-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  height: 320px;
  //background: white;
  animation-name: aibek-islands-background;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-image: url('../images/projects/aibek/island-left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  // 440 / 640
}
.aibek-art__island-2 {
  position: absolute;
  left: 50%;
  top: -160px;
  transform: translateX(-50%);
  z-index: 4;
  width: 430px;
  height: 560px;
  //background: white;
  // animation-name: aibek-islands-foreground;
  // animation-duration: 1500ms;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
  background-image: url('../images/projects/aibek/island-middle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  // 860 / 920
}
.aibek-art__island-3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 280px;
  //background: white;
  animation-name: aibek-islands-background;
  animation-duration: 1500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-image: url('../images/projects/aibek/island-right.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  // 800 / 560
}

@keyframes aibek-islands-background {
  000% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aibek-islands-foreground {
  000% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aibek-logo-in {
  000% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
