//------------
// footer
//------------

.footer {
  position: relative;
  padding: 0 400px 0 0;
  @include screen-med {
    padding: 0;
  }
}
.footer__navigation {
  margin: 0 0 40px;
  @include screen-med {
    margin: 0 0 32px;
  }
}
.footer__content {
  min-height: 48px;
  line-height: 24px;
  color: $color-grey-400;
  font-weight: bold;
}

.footer__social {
  position: absolute;
  top: 0;
  right: 0;
  @include screen-med {
    position: static;
  }
}


// Social
.footer-social {
  float: right;
  @include screen-med {
    clear: both;
    float: none;
    margin: 24px 0 0;
  }
}
.footer-social__link {
  margin: 0 0 0 12px;
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 50%;
  background: $color-grey-800;
  &:hover {
    box-shadow: $shadow-300;
    background: white;
  }
  &:active {
    box-shadow: $shadow-200;
    background: white;
  }
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: white;
  }
  @include screen-med {
    margin: 0 12px 0 0;
  }
}
