// layout
html {
  height: 100%;
  width: 100%;
  min-width: 320px;
  background: $color-grey-900;
}

// Layout
.layout {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: $color-grey-800;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.layout--overlay {
  overflow: hidden;
  padding: 0 15px 0 0;
}

// Header
.layout__header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  padding: 0 24px;
  background: $color-grey-900;
  transition: all 400ms ease-out;
  @include screen-med {
    padding: 0 16px;
  }
}
.layout__header--hidden {
  transform: translateY(-100%);
}

// Content
.layout__content {
  width: 100%;
  // padding: 64px 0 0;
  background: $color-grey-800;
  @include screen-med {
    //padding: 80px 0 0;
  }
}

// Footer
.layout__footer {
  //position: absolute;
  //left: 0;
  //bottom: 0;
  //height: 128px;
  width: 100%;
  padding: 40px 24px;
  background: $color-grey-900;
}






//------------
// Overlay
.layout__overlay {
  display: none;
  position: fixed;
  overflow-y: scroll;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba($color-grey-800,0.8);
}

.layout__overlay--static {
  position: static;
}

.layout__overlay--scroll-lock {
  position: fixed;
  overflow: hidden;
}
