// tray overlay
.mobile-tray {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 80px 0 0;
  background: white;
  overflow-y: scroll;
}

.mobile-tray__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 16px;
  //background: $color-grey-200;
}

.mobile-tray__navigation {
  width: 100%;
  padding: 48px 16px;
}

//-- navigation
.mobile-navigation {
  max-width: 280px;
  margin: 0 auto 40px;
}
.mobile-navigation__item {
  border-bottom: 2px solid $color-grey-400;
  &:last-child {
    border: none;
  }
}


// -- doot
.mobile-navitem {
  position: relative;
  display: block;
  padding: 20px 0 20px 32px;
  color: $color-grey-800;
  &:hover {
    background: $color-grey-200;
  }
  &:active {
    background: $color-grey-300;
  }
}
.mobile-navitem--active {
  .mobile-navitem__icon {
    display: block;
  }
}

.mobile-navitem__icon {
  display: none;
  position: absolute;
  padding: 4px 0;
  top: 20px;
  left: 0;
  width: 16px;
  height: 24px;
  color: black;
}
.mobile-navitem__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}



//-- contact
.mobile-contact {
  max-width: 280px;
  margin: 0 auto;
}
.mobile-contact__border {
  display: block;
  height: 1px;
  background: $color-grey-400;
  margin-bottom: 40px;
}

.mobile-contact__heading {
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0 0 16px;
}
.mobile-contact__link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $color-grey-800;
  padding: 12px 16px;
  border-radius: 20px;
  background-color: $color-grey-300;
  &:hover {
    background: $color-grey-400;
  }
  &:active {
    background: $color-grey-500;
  }
}
.mobile-contact__link--active {
  background: $color-blue-500;
}
