// tray overlay
.mobile-tray {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  clip-path: url(#mobile-mask);
  background: white;
}

.mobile-tray__header {
  padding: 0 16px;
  background: $color-grey-200;
}

// .mobile-tray__transition {
//   position: absolute;
//   top: 16px;
//   right: 16px;
//   width: 48px;
//   height: 48px;
//   background: red;
//   border-radius: 50%;
//
//   animation-name: mobile-transition;
//   animation-duration: 280ms;
//   animation-timing-function: ease-out;
//   animation-fill-mode: forwards;
//   @keyframes mobile-transition {
//     000% {
//       box-shadow: 0 0 0 0 rgba(white,1);
//     }
//     100% {
//       box-shadow: 0 0 0 640px rgba(white,0);
//     }
//   }
// }

.mobile-tray__navigation {
  padding: 0 16px;
}

.mobile-tray__mask {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 48px;
  width: 48px;
  //background: blue;
}

.mask-anim {
  transform: scale(6);
  &:hover {
  }
}

//-- navigation
.mobile-navigation {
  padding: 80px 0;
  max-width: 280px;
  margin: 0 auto;
}
.mobile-navigation__item {
  border-bottom: 2px solid $color-grey-400;
  &:last-child {
    border: none;
  }
}


// -- doot
.mobile-navitem {
  position: relative;
  display: block;
  padding: 20px 0 20px 32px;
  color: $color-grey-800;
  &:hover {
    background: $color-grey-200;
  }
  &:active {
    background: $color-grey-300;
  }
}
.mobile-navitem--active {
  .mobile-navitem__icon {
    display: block;
  }
}

.mobile-navitem__icon {
  display: none;
  position: absolute;
  padding: 4px 0;
  top: 20px;
  left: 0;
  width: 16px;
  height: 24px;
  color: black;
}
.mobile-navitem__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}



//-- contact
.mobile-contact {
  padding: 0 0 80px;
  max-width: 280px;
  margin: 0 auto;
}
.mobile-contact__border {
  display: block;
  height: 1px;
  background: $color-grey-400;
  margin-bottom: 80px;
}

.mobile-contact__heading {
  font-size: 16px;
  text-align: center;
  margin: 0 0 16px;
}
.mobile-contact__link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $color-grey-800;
  padding: 12px 16px;
  border-radius: 20px;
  background-color: $color-grey-300;
  &:hover {
    background: $color-grey-400;
  }
  &:active {
    background: $color-grey-500;
  }
}
.mobile-contact__link--active {
  background: $color-blue-500;
}
