// simple page structure
.page {
  padding: 64px 0 0;
}
.page__banner {}
.page__content {}
.page__section {}
.page__quote {}





// Banner
.page__banner {
  position: relative;
  padding: 0 24px;
}

.layout__banner--beta {
  @include screen-med {
    height: auto;
  }
}

// Section
.page__section {
  padding: 0 24px 80px 24px;
  @include screen-med {
    padding: 64px 24px;
  }
  @include screen-mob {
    padding: 32px 16px;
  }
}

.page__section--white {
  background: white;
}
